<h1>INFORMATIONS</h1>
<p>Tu veux des infos sur ?</p>

<a href="<%= moi_path%>" class="btn btn-primary" role="button">MOI</a> 
<a href="<%= mongroupe_path%>" class="btn btn-warning" role="button">MON GROUPE</a> 
