<h1> Tu veux des infos sur sur mon groupe ? </h1>

<p>Mon groupe est composé de :</p>
<ul>
	<li>Manu</li>
	<li>Raouf</li>
	<li>Youcef</li>
	<li>et notre très regretté JP, renegat parti trop tot....</li>	
</ul>
<p>Et si vous nous connaissez pas, c'est que vous ne passez pas assez de temps sur Slack !</p>

<p><strong>TEAM EASTCOAST MARSEILLE</strong></p>

