<strong>ATTENTION</strong>
<p>Ce nom d'utilisateur est déjà pris.</p>
<p>Votre nom d'utilisateur ne doit pas comporter d'espaces.</p>

<P>Cliquez pour créer un compte</P>
<a href="<%= newuser_path%>" class="btn btn-success" role="button">Nouvel utilisateur</a>